a:visited
{
	color: green;
}

#Home #Portfolio #Blog
{
	//margin:0 auto;
	//margin-left: auto;
	//margin-right: auto;
}

#Home p, #Portfolio p, #Blog p, #Game p, h3
{
	width: 80%;
	margin: 0 auto;
}

