@import "style.css";

.header-top 
{ 
    /* pin to top - 0 is default */
    position: fixed;
    /* raise z-index to cover */
    z-index: 1;
	width: 800px;
	//margin: 0 auto;
}

.header-top-hidden
{ 
	width: 800px;
	//margin: 0 auto;
}

