html
{
	background: black no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: rgb(230, 0, 0);
	z-index: -1;
}

