#list
{
    width: 80%;
	margin: 0 auto;
	background: silver;
	display: inline-block;
}

#list ul
{
	text-align: left;
	//display: block;
}

#Blog #list .left
{
	float:left;
	width: 50%;
}

#Blog #list .right
{
	float:right;
	width: 50%;
}
