.canvasBackground
{
    background: green;
}

@media (max-width: 1000px)
{
	.canvasBackground
	{
		width: 100%;
	}
}

.canvasAround
{
	overflow: hidden;
	padding: 10px;
}

#canvasResize.resizable
{
	position: relative;
}

#canvasResize .resizer 
{ 
	width: 20px; 
	height: 20px; 
	background: blue; 
	position: absolute; 
	right: 0; 
	bottom: 0; 
	cursor: se-resize; 
}

